/* People-List Styling */

.people-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.people-list-flex {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
