* {
  font-family: "Roboto", Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* App Nav Bar Styling */
app-nav-bar {
  width: 100%;
  height: 68px;
  background-color: #000000;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-nav-bar h1 {
  color: white;
  margin: 0;
}

/* Starship-List Styling */

app-starship-list h3 {
  text-decoration: underline;
}

app-starship-list h4 {
  font-weight: bold;
  margin-top: 0px;
}

app-starship-list h3:hover {
  opacity: 0.8;
}

.starship-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starship-list-flex {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.starship-item {
  width: 20rem;
  border: 4px solid black;
  border-radius: 1rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
