* {
  font-family: "Roboto", Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease-out;
}

body,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

/* Styling for the active route */

.active-link {
  text-decoration: underline;
  color: #ffff;
}

/* App Nav Bar Styling */
app-nav-bar {
  width: 100%;
  height: 68px;
  background-color: #000000;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-nav-bar h1 {
  color: white;
  margin: 0;
}

app-starship-list-item {
  aspect-ratio: 1/1;
  width: 20rem;
  border: 4px solid black;
  border-radius: 1rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

app-starship-list-item > ul {
  width: 80%;
}
